# Environment
NODE_ENV=production

# MySQL (container)
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=tasksdb
MYSQL_USER=admin
MYSQL_PASSWORD=

# TypeORM (Nest)
DATABASE_HOST=mysql
DATABASE_PORT=3306
DATABASE_USER=admin
DATABASE_PASSWORD=
DATABASE_NAME=tasksdb

# Mongo
MONGO_URI=mongodb://mongo:27017/tasksmetadata

# JWT
JWT_SECRET=